<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!-- Protección de Django contra el cross site request forgery -->
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_messege %}
            <p><strong>{{ error_messege }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input 
                type="radio"
                name="choice"
                id="choice{{ forloop.counter }}" 
                value="{{choice.id}}"
            >
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label> 
            <br>
            <!-- forloop.counter es un atajo de Django para acceder al numero de vueltas que lleva nuestro ciclo. Nos permite tener un id dinamico -->
        {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">
</form>

<!-- <h1>{{ question.question_text }}</h1>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul> -->