{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
    <title>{{ question.question_text }}</title>
</head>
<body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %} <!-- Protección de Django contra el cross site request forgery -->
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_messege %}
                <p><strong>{{ error_messege }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input 
                    type="radio"
                    name="choice"
                    id="choice{{ forloop.counter }}" 
                    value="{{choice.id}}"
                >
                <label for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label> 
                <br>
                <!-- forloop.counter es un atajo de Django para acceder al numero de vueltas que lleva nuestro ciclo. Nos permite tener un id dinamico -->
            {% endfor %}
        </fieldset>
        <input type="submit" value="Votar">
    </form>
</body>
</html>

